Читаем наш датасет с помощью библиотеки pandas

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns

# Загружаем данные из pandas
data = pd.read_csv('../csv_file/train.csv')
data.head(10)

C:\Users\Darin_btw\AppData\Local\Temp\ipykernel_17696\1551874171.py:7: DtypeWarning: Columns (51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,131,132,133,135,136,139,140,141,142,143,144,145,146,147,148,149,151,152,155,156,157,158,159,160,161,163,164,165,167,168,169,171,172,173,174,175,176,177,178,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,223,224,227,239,240,241,242,243,244,245,246,459,460,461,467,468,469,515,516,523,524,531,532,539,540,547,548,555,556,563,564,565,567,571,572,573,575,579,580,581,582,583,587,588,595,596,603,604,611,612,613,615,795,796,797,799,1031,1032,1033,1034,1035,1036,1037,1039,1040,1041,1042,1043,1044,1045,1047,1048,1049,1050,1051,1052,1055,1056,1057,1058,1059,1060,1063,1064,1065,1067,1068,1069,1072,1073,1074,1075,1076,1077,1078,1172,1173,1174,1176,1177,1178,1179,1180,1181,1182,1275,1276,1277,1278,1279,1280,1281,1282,1447,1448,1449,1450,1451,1452,1453,1454,1649,1650,1651,1652,1653,1654,1655,1656,2193,2194,2195,2196,2199) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../csv_file/train.csv')

,report_date,client_id,target,col1,col2,col3,col4,col5,col6,col7,...,col2654,col2655,col2656,col2657,col2658,col2659,col2660,col2661,col2662,col2663
0,2022-11-01,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
1,2022-11-01,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7616803.0,7616803.0,7616803.0,NaN,NaN,NaN,7616803.0,7616803.0,7616803.0,0.256261
2,2022-05-01,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
3,2022-09-01,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.258682
4,2022-08-01,8,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.254164
5,2023-02-01,10,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10850000.0,10850000.0,10850000.0,NaN,NaN,NaN,10850000.0,10850000.0,10850000.0,0.318994
6,2022-11-01,16,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.258853
7,2023-01-01,17,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
8,2023-01-01,18,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.266285
9,2022-02-01,19,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261

In [13]:
data2 = pd.read_csv('../csv_file/valid.csv')
data2.head(30)

C:\Users\Darin_btw\AppData\Local\Temp\ipykernel_17696\2240341002.py:1: DtypeWarning: Columns (51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,87,88,89,91,95,96,97,99,131,132,133,135,136,140,141,142,144,145,146,147,148,151,152,155,156,157,158,159,160,161,163,164,165,167,168,169,172,173,174,175,176,177,178,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,203,204,207,208,211,212,213,215,216,239,240,241,243,244,245,459,467,563,567,571,575,579,580,583,611,612,795,799,1031,1032,1033,1034,1035,1036,1037,1039,1040,1047,1055,1063,1064,1071,1072,1073,1074,1175,1176,1177,1178,1179,1180,1181,1182,1277,1278,1281,1282,1447,1448,1449,1450,1451,1452,1453,1454,1653,1654,1656,2193,2194,2195,2196,2199) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv('../csv_file/valid.csv')

,report_date,client_id,target,col1,col2,col3,col4,col5,col6,col7,...,col2654,col2655,col2656,col2657,col2658,col2659,col2660,col2661,col2662,col2663
0,2023-04-01,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4941670.00,4941670.00,4941670.00,NaN,NaN,NaN,4941670.00,4941670.00,4941670.00,0.256919
1,2023-05-01,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11789500.00,11789500.00,11789500.00,NaN,NaN,NaN,11789500.00,11789500.00,11789500.00,0.267221
2,2023-05-01,9,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7000000.00,7000000.00,7000000.00,NaN,NaN,NaN,7000000.00,7000000.00,7000000.00,0.257217
3,2023-03-01,12,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
4,2023-03-01,14,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10391000.00,10391000.00,10391000.00,0.257348
5,2023-05-01,15,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8436000.00,8436000.00,8436000.00,0.256718
6,2023-05-01,29,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7106000.00,7106000.00,7106000.00,NaN,NaN,NaN,7106000.00,7106000.00,7106000.00,0.266021
7,2023-05-01,56,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.263619
8,2023-05-01,58,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
9,2023-05-01,60,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7014370.00,7014370.00,7014370.00,NaN,NaN,NaN,7014370.00,7014370.00,7014370.00,0.264464
10,2023-04-01,62,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6899000.00,6899000.00,6899000.00,NaN,NaN,NaN,6899000.00,6899000.00,6899000.00,0.257017
11,2023-03-01,72,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.316594
12,2023-05-01,74,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4400000.00,4400000.00,4400000.00,0.256261
13,2023-04-01,76,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8976000.00,8976000.00,8976000.00,NaN,NaN,NaN,8976000.00,8976000.00,8976000.00,0.257017
14,2023-03-01,85,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256919
15,2023-04-01,99,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14690000.00,14690000.00,14690000.00,0.257017
16,2023-04-01,104,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4736654.35,4736654.35,4736654.35,NaN,NaN,NaN,4736654.35,4736654.35,4736654.35,0.268662
17,2023-05-01,112,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.257217
18,2023-04-01,120,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
19,2023-03-01,128,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6856300.00,6856300.00,6856300.00,NaN,NaN,NaN,6856300.00,6856300.00,6856300.00,0.258208
20,2023-03-01,131,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5120000.00,5120000.00,5120000.00,0.256261
21,2023-04-01,135,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2500000.00,2500000.00,2500000.00,0.262732
22,2023-05-01,143,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
23,2023-04-01,157,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1077600.00,953160.00,1015380.00,0.264032
24,2023-04-01,159,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
25,2023-03-01,165,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3000000.00,3000000.00,3000000.00,NaN,NaN,NaN,3000000.00,3000000.00,3000000.00,0.256919
26,2023-05-01,176,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.256261
27,2023-05-01,183,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4501000.00,4501000.00,4501000.00,0.260430
28,2023-03-01,191,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.257217
29,2023-05-01,194,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12000000.00,12000000.00,12000000.00,NaN,NaN,NaN,12000000.00,12000000.00,12000000.00,0.311328

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.heatmap(data.isna(), cmap="viridis", cbar=False)
plt.title("Визуализация пропусков")
plt.show()

ValueError: could not convert string to float: '2022-11-01'

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14456 entries, 0 to 14455
Columns: 2666 entries, report_date to col2663
dtypes: float64(2316), int64(3), object(347)
memory usage: 294.0+ MB

In [ ]:
data.isnull()

,report_date,client_id,target,col1,col2,col3,col4,col5,col6,col7,...,col2654,col2655,col2656,col2657,col2658,col2659,col2660,col2661,col2662,col2663
0,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
1,False,False,False,True,True,True,True,True,True,True,...,False,False,False,True,True,True,False,False,False,False
2,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
3,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
4,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14451,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
14452,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
14453,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
14454,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
14455,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False